@model LibraryApplication.Domain.Domain.Reservation

@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Cancel</h1>

<h3>Are you sure you want to cancel your reservation?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            Cover
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Book.ThumbnailUrl" style="height:200px;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueuePosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueuePosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRequested)
        </dd>
    </dl>
    
    <form asp-action="CancelConfirm" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
